<footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://github.com/eunzzangoo">@eunzzangoo</a>.</p>
    </div>
  </footer>